<a href="https://colab.research.google.com/github/nassahAmer/dio-bootcamp-unimed-bh/blob/main/An%C3%A1lise_Explorat%C3%B3ria.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importanto as bibliotecas
import pandas as pd
import matplotlib.pyplot as plt
plt.style.use('seaborn')

In [3]:
# Iniciando o Dataframe
df = pd.read_excel('/content/drive/MyDrive/Colab Notebooks/AdventureWorks.xlsx')

In [ ]:
df.head()

In [5]:
# Qtde de linhas e colunas
df.shape

(904, 16)

In [6]:
# Verificando tipos de dados
df.dtypes

Data Venda        datetime64[ns]
Data Envio        datetime64[ns]
ID Loja                    int64
ID Produto                 int64
ID Cliente                 int64
No. Venda                 object
Custo Unitário           float64
Preço Unitário           float64
Quantidade                 int64
Valor Desconto           float64
Valor Venda              float64
Produto                   object
Fabricante                object
Marca                     object
Classe                    object
Cor                       object
dtype: object

In [7]:
# Qual a receita total?
round(df['Valor Venda'].sum(), 2)

5984606.14

In [8]:
# Qual o custo total? Para responder, primeiro precisa criar a coluna custo: 
# Qual o custo por venda? Criando a coluna...
df['Custo'] = df['Custo Unitário'].mul(df['Quantidade'])

In [9]:
# mostrando a coluna Custo
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,Custo
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48

In [10]:
# Mostrar Custo Total!
# round() -> arredondar casas decimais
round(df['Custo'].sum(), 2)

2486783.05

In [11]:
# Qual o Lucro total?
# Primeiro criar coluna Lucro = Venda Total - Custo
df['Lucro'] = df['Valor Venda'] - df['Custo']

In [12]:
# Mostrar coluna Lucro
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,Custo,Lucro
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.0,6,0.0,4548.0,Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,2091.48,2456.52

In [13]:
# Mostrar Total de Lucro
round(df['Lucro'].sum(), 2)

3497823.09

In [14]:
# Criar coluna com Total de Dias para enviar o produto
# .dt.days -> retira a palavra days e retorna apenas o número de dias
df['Dias para Enviar'] = (df['Data Envio'] - df['Data Venda']).dt.days

In [ ]:
# Ver coluna Dias de envio
df.head(1)

In [17]:
# Excluir coluna 'Dias de Envio' que tinha criado erroneamente
# df.drop(['Dias de Envio'], axis=1, inplace=True)

In [ ]:
df.head()

In [19]:
# Verificar tipo da coluna Dias para Enviar
df['Dias para Enviar'].dtypes

dtype('int64')

In [ ]:
# Mostrar MÉDIA - DIAS DE ENVIO - por MARCA
round(df.groupby(['Marca'])['Dias para Enviar'].mean(), 2)
#df.groupby(['Marca'])['Dias para Enviar'].mean().plot(color='magenta', marker='o')

In [ ]:
# Verificar se tem dados faltantes
df.isnull().sum()

## **Lucro por ANO e MARCA**

In [36]:
# Agrupar por ano e marca
# Com round() o valor do 'Lucro' fica mais legível.
# round(df.groupby([df['Data Venda'].dt.year, 'Marca'])['Lucro'].sum(), 2)
df.groupby([df['Data Venda'].dt.year, 'Marca'])['Lucro'].sum()

Data Venda  Marca
2008        Adventure Works             306,641.16
            Contoso                      56,416.00
            Fabrikam                  1,557,020.55
2009        Adventure Works             405,395.08
            Contoso                     138,258.95
            Fabrikam                  1,034,091.35
Name: Lucro, dtype: float64

In [35]:
# Ou podemos formatar todos os valores float utilizando as opções de display do Pandas
# '{:20,.2f}'.format -> formata o valor para até 20 caracteres e 2 casas decimais
# '(:20,.2f)'.format -> insere valor fixo para todos os números float
pd.options.display.float_format = '{:20,.2f}'.format

In [ ]:
# MOStrar os mesmos dados mas de forma diferente
# Resetando o Index que estava com filtro
lucro_ano = df.groupby([df['Data Venda'].dt.year, 'Marca'])['Lucro'].sum().reset_index()
lucro_ano.head()

In [41]:
df.head(1)

,Data Venda,Data Envio,ID Loja,ID Produto,ID Cliente,No. Venda,Custo Unitário,Preço Unitário,Quantidade,Valor Desconto,Valor Venda,Produto,Fabricante,Marca,Classe,Cor,Custo,Lucro,Dias para Enviar
0,2008-05-09,2008-05-29,199,384,18839,200805093CS607,348.58,758.00,6,0.00,"4,548.00",Adventure Works Laptop15.4W M1548 Red,Adventure Works,Adventure Works,Regular,Red,"2,091.48","2,456.52",20

In [ ]:
# Qual o total de produtos vendidos?
# Mostrar soma total -> df['Quantidade'].sum()
# Mostrar por grupo, quantidade decrescente
df.groupby(['Produto'])['Quantidade'].sum().sort_values(ascending=False)

In [ ]:
# Gráfico total dos produtos vendidos
df.groupby(['Produto'])['Quantidade'].sum().sort_values(ascending=True).plot.barh(title='Produtos x Quantidade', color='magenta')
plt.xlabel('Quantidade')
plt.ylabel('Produto');

In [ ]:
# Gráfico Lucro x Ano
font1 = {'family':'serif','color':'blue','size':20}
font2 = {'family':'serif','color':'darkred','size':15}
df.groupby([df['Data Venda'].dt.year])['Lucro'].sum().sort_values(ascending=False).plot.barh(title='Produtos x Ano')
plt.xlabel('Lucro Total', fontdict = font2)
plt.ylabel('Ano de Venda', fontdict = font2);

In [ ]:
# Analisar apenas valores
df.groupby([df['Data Venda'].dt.year])['Lucro'].sum()

In [ ]:
# Analisar vendas de 2009
vendas2009 = df[df['Data Venda'].dt.year == 2009]
vendas2009.head()

In [ ]:
# Lucro por Mês - 2009
vendas2009.groupby(vendas2009['Data Venda'].dt.month)['Lucro'].sum().plot(title='Lucro x Mês - 2009', color='green')
plt.xlabel('Meses de 2009')
plt.ylabel('Lucro total');

In [ ]:
# Lucro por Marca - 2009
vendas2009.groupby(vendas2009['Marca'])['Lucro'].sum().plot.bar(title='Lucro x Marca - 2009')
plt.xlabel('Marca')
plt.ylabel('Lucro total')
plt.xticks(rotation='horizontal');

In [93]:
# Mostrar nomes das colunas
df.columns

Index(['Data Venda', 'Data Envio', 'ID Loja', 'ID Produto', 'ID Cliente',
       'No. Venda', 'Custo Unitário', 'Preço Unitário', 'Quantidade',
       'Valor Desconto', 'Valor Venda', 'Produto', 'Fabricante', 'Marca',
       'Classe', 'Cor', 'Custo', 'Lucro', 'Dias para Enviar'],
      dtype='object')

In [ ]:
# Analisar informações estatísticas da coluna Tempo de Envio
df['Dias para Enviar'].describe()

In [ ]:
# GRÁFICO: Analisar informações estatísticas da coluna Dias para Enviar
plt.boxplot(df['Dias para Enviar']);

In [ ]:
# HISTOGRAMA: Analisar informações estatísticas da coluna Dias para Enviar
plt.hist(df['Dias para Enviar'])
plt.xlabel('Dias')
plt.ylabel('Quantidades de envio');

In [105]:
# Tempo mínimo da coluna Dias para Enviar
df['Dias para Enviar'].min()

4

In [108]:
# Tempo máaximo da coluna Dias para Enviar
df['Dias para Enviar'].max()

20

In [ ]:
# Verificando o Outliner 
df[df['Dias para Enviar'] == 20]

In [110]:
# Salvar código em foromato .csv
df.to_csv('df_vendas_novo.cv')